/* /* -------------- BEGIN RESET ----------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
p,
img {
  margin: 0;
  padding: 0;
}

/* set up default body styles */
body {
  height: 100%;
  line-height: 1.5;
  margin: 0;
}

a {
  text-decoration: none;
}

/* make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* -------------- END RESET ----------------- */

/* Custom Color Properties*/
:root {
  --pure-white: hsl(0, 0%, 100%);
  --cyan: hsl(178, 100%, 50%);
}

/* Flex Utility Class */
.flex {
  display: flex;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  color: var(--pure-white);
}

.card {
  background-color: hsl(216, 50%, 16%);
  width: 20rem;
  margin: 0 auto;
  margin-top: 5%;
  padding: 1.5rem;
  border-radius: 12px;
}

#img-wrapper {
  display: block;
  position: relative;
}

#img-wrapper::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: var(--cyan);
  opacity: 0;
  border-radius: 8px;
}

#img-wrapper::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: url("../images/icon-view.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0;
  top: 0;
  left: 0;
}

#img-wrapper:hover::before {
  opacity: 0.5;
}

#img-wrapper:hover::after {
  opacity: 1;
}

.card-content img {
  height: 50%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.txt-content {
  color: hsl(215, 51%, 70%);
}

.txt-content h1 {
  color: var(--pure-white);
  font-size: 1.4rem;
  font-weight: 600;
}

.txt-content h1:hover {
  color: var(--cyan);
  cursor: pointer;
}

.description {
  margin-top: 0.75rem;
}

.auction-info {
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

.auction-info img {
  margin-top: 4px;
  margin-bottom: 0;
  margin-right: 0.5rem;
}

#price {
  font-weight: 600;
  color: var(--cyan);
}

#profile {
  width: 2rem;
  border-radius: 100%;
  border: 2px solid var(--pure-white);
  margin: 0 1rem 0 0;
}

.creator-info {
  margin-top: 1rem;
  align-items: center;
}

.creator-info span {
  color: var(--pure-white);
  font-weight: 400;
}

.creator-info span:hover {
  color: var(--cyan);
  cursor: pointer;
}

/* Attribution code by Frontend Mentor */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
